<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      android:versionCode="13"
      android:versionName="0.13" package="mobi.pruss.GalacticNight">

     <uses-sdk android:minSdkVersion="10" />
     
     <uses-permission android:name="android.permission.WRITE_SETTINGS"/>  
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>    
    <application android:label="Galactic Night"
    >
        <activity android:name=".GalacticNight"
            android:theme="@android:style/Theme.Dialog"
                  android:label="Galactic Night"
                  android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
		<activity android:name=".Options" android:label="Options" />
        <service android:name=".PowerOnService"/>
       </application>
</manifest>